@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
  background-color: black;
  color: ghostwhite;
}

h1 {
  text-align: center;
  color: plum;
  font-size: 3em;
}

.tic-tac-toe {
  width: 370px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0;
}
/* Creating 3x3 Grid for squares */
.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.square {
  height: 120px;
  width: 120px;
  border: 1px solid rgb(255, 164, 222);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.square.x::before,
.square.x::after {
  content: '';
  width: 20px;
  height: 100px;
  position: absolute;
  background: rgb(255, 255, 255);
}

.square.x::before {
  transform: rotate(45deg);
}

.square.x::after {
  transform: rotate(-45deg);
}

.square.o::before,
.square.o::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.square.o::before {
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
}

.square.o::after {
  width: 75px;
  height: 75px;
  background: rgb(0, 0, 0);
}

.square.x,
.square.o {
  cursor: not-allowed;
}

.square:hover {
  background: plum;
}

.square:active {
  background-color: rebeccapurple;
}

#wrapper {
  min-height: 90%;
  margin-bottom: -100px;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 1em;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 1em;
  display: block;
  margin: auto;
  background: plum;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: plum;
  font-size: 2em;
}
a:hover {
  background-color: blanchedalmond;
  opacity: 0.5;
}

.message {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5rem;
  margin-top: 150px;
}

.message.show {
  display: flex;
}

.message button {
  font-size: 1rem;
  margin-bottom: 500px;
}

.message button:hover {
  background: purple;
  color: white;
}
